@font-face {
	font-family: GothamRounded;
	font-style: normal;
	font-weight: normal;
	src: url("/fonts/GothamRnd-Book.otf") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: GothamRounded;
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/GothamRnd-Medium.otf") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: GothamRounded;
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/GothamRnd-Bold.otf") format("opentype");
	font-display: swap;
}